@import './table.scss';

/*Buttons mit extend*/
button {
  background-color: white;
  color: cornflowerblue;
  margin: .5em;
  padding: .2em;
}

button:hover{
  background-color: cornflowerblue;
  color: white;
}

.specialBtn {
  @extend button;
  padding: .5em;

}

.specialBtn:hover{
  border: 3px solid cornflowerblue;
}


body {
  font-family: 'Readex Pro', sans-serif;
}
h1 {
  margin-top: 0.5em;
}
h2 {
  margin-top: 0.5em;
}
.sliderwidth {
  width: 100%;
}
.carousel-inner {
  width: 100%;
  max-height: 600px !important;
}
nav {
  a {
    text-decoration: none;
    padding-top: 10em;
    padding-bottom: 5em;
    padding-inline: 1em;
  }
  >a {
    &:hover {
      color: dimgrey;
      font-size: 1.25em;
    }
  }
}

.austriavaccine {
  animation-name: slide-in;
  animation-duration: 2s;
}

/*Animationen*/
@keyframes "slide-in" {
  0% {
    margin-left: 100vh;
  }
  100% {
    margin-left: 0;
  }
}

/*Responsive*/
@media (max-width: 720px) {
  nav {
    display: flex;
    flex-direction: column;
    a {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-inline: 1em;
    }
  }
  .carousel-inner {
    width: 100%;
    max-height: 500px !important;
  }
}
