/*Table*/
label {
  font-weight: bold;
  padding-top: 0.7em;
}
.calenderbtn {
  padding-bottom: 0.5em;
}
.tablestriped {
  background-color: #E7F1FF;
}
.vaccinepfizer {
  color: #86b4f6;
}
.vaccinemoderna {
  color: #b306da;
}
.vaccinejohnson {
  color: green;
}
.vaccineastra {
  color: orange;
}